
<div class="container">
    <h2>Dados de Login</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone Principal</th>
            <th scope="col">Telefone Secundário</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dado in dados">
            <th scope="row">{{dado.nome}}</th>
            <th scope="row">{{dado.email}}</th>
            <th scope="row">{{dado.contato}}</th>
            <th scope="row">{{dado.contato2}}</th>
        </tr>

        </tbody>
    </table>

</div>