
<div class="container">
    <h4>Dados de Cadastro</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone Principal</th>
            <th scope="col">Telefone Secundário</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dado in dados">
            <td>{{dado.nome}}</td>
            <td>{{dado.email}}</td>
            <td>{{dado.contato}}</td>
            <td>{{dado.contato2}}</td>
        </tr>

        </tbody>
    </table>

</div>