<style>
	.exercicios{
		margin: 3%;
	}
	h4, h2{
		color: #CD3F3F;
		font-weight: bold;
	}
	.row{
		margin-top: 2%;
	}
</style>

<div class="container">

 <section class="page-section exercicios" id="sobreMyHeroTrainning">
         <div class="container-fluid text-center sobre">
			  <h2>MyHeroTraining Treinos Funcionais!</h2>
			  <b>Conheça os exercícios que compõem os treinos:</b>
			  <div class="row">
			    <div class="col-sm-4" id="abdominal">
			      <h4>Abdominal</h4>
			      <p>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                   <b> Os músculos trabalhados são reto abdominal e oblícuos. </b> Pode ser executado deitado, flexionando as pernas e
                   deixando-as alinhadas ao quadril, após se posicionar, basta erguer o tronco com a força dos músculos do abdômen,
                   nunca chegando tão próximo de encostar os peitos aos joelhos.</p>
			    </div>
			    <div class="col-sm-4" id="abdominalRemador">
			      <h4>Abdominal Remador</h4>
			      <p>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                   <b> Os músculos trabalhados são reto abdominal e oblícuos.
                   </b>
                   Para realizar o exercício, basta se esticar no solo, com braços e pernas erguidos. Após se posicionar,
                   basta flexionar as pernas ao mesmo tempo que contrai o abdômen em direção aos joelhos.</p>
			    </div>
			    <div class="col-sm-4" id="agachaEleva">
			      <h4>Agachamento com elevação</h4>
			      <p>O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                <b> Os músculos trabalhados são quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar. </b>
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, levantar uma das pernas com joelho dobrado até um pouco acima do quadril,
				alternando entre as pernas a cada vez que fizer o exercício.</p>
			    </div>
			 </div>
			 <div class="row">
			    <div class="col-sm-4" id="agachaRota">
			      <h4>Agachamento com Rotação de tronco</h4>
			      <p>O exerício ajuda no desenvolvimento e fortalecimento das pernas e glúteos podendo ser realizado por inciantes.
                <b> quadríceps femural, glúteo médio, glúteo máximo, bíceps femural (posterior da coxa), abdominal e lombar. </b>
                Com as pernas abertas, afastar os pés à largura dos ombros e apoiá-los totalmente no chão,
				dobrar os joelhos jogando o quadril para baixo, até ultrapassar ligeiramente a linha do joelho e, empurrar o bumbum para trás
				mantendo as costas eretas.
				Quando subir do agachamento, mudar a posição de uma das pernas colocando-a para frente e rotacionar o tronco em direção a perna,
				alternando entre as pernas a cada vez que fizer o exercício.
			    </div>
			    <div class="col-sm-4" id="infraEleva">
			      <h4>Infra com elevação</h4>
			      <p>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                <b> Os músculos trabalhados são reto abdominal, piramidais, oblíquos, transversoss. </b>
                 Com a coluna apoiada no solo, as mãos precisam estar retas e bem posicionadas.
                 Após se ajustar, basta erguer as pernas lentamente, mantendo elas o mais retas possível.
			    </div>
			    <div class="col-sm-4" id="pracnha">
			      <h4>Prancha</h4>
			      <p>O exerício ajuda no desenvolvimento e fortalecimento da musculatura do abdome podendo ser realizado por inciantes.
                <b> Os músculos trabalhados são reto abdominal, transversos. </b>
                De bruços, apoie-se nos cotovelos e apoe-se nos antebraços ou mantenha os braços esticados, sempre mantendo-os alinhados com os ombros.
                Com somente as pontas dos pés apoiadas ao chão na parte inferior do corpo, alinhe-os com os cotovelos. Deixe o corpo ereto e contraia o abdômen.</p>
			    </div>
			 </div>
		</div>
    </section>
</div>