<style>
    #teste {
        margin: auto;
        margin-top: 24px;

    }

    #topo {
        margin-top: 22px;
        justify-content: center;
    }
</style>

<div class="container">
    <div class="card-deck" id="teste">
        <div class="card"  ng-repeat="treino in treinos">
            <img src="{{treino.url}}" class="card-img-top" alt="" height="300" width="180">
            <div class="card-body" >
                <h2 class="card-text">{{treino.nome}}</h2>
                <p class="card-text" ng-bind="treino.descricao"></p>
                <p class="card-text">{{treino.intensidade}}</p>
                <p class="card-text">{{treino.nivel}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-primary" ng-model="inicio" type="button"
                           href="#/treinos/{{treino.id}}">Iniciar</a>

                        <a class="btn btn-sm btn-outline-primary" ng-model="inicio" type="button"
                           href="#/descricaoTreino">Ver</a>

                    </div>
                    <small class="text-muted">{{treino.horas}} mins</small>
                </div>
            </div>
        </div>
        </div-->
    </div>
</div>

</div>

