<style>
    #card_incio{
        margin: auto;
        margin-top: 6px;
    }
    #btn{
        margin: auto;
    }
</style>



<div class="container">
    <div class="card text-center" style="width: 18rem;" id="card_incio">
        <img class="card-img-top" src="angular/public/imagem/Squat%20_%20Illustrated%20Exercise%20Guide.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Agachamento básico</h5>
            <h5 class="card-text">10x</h5>
            <a href="#/treino/inicio/execucao" class="btn btn-secondary">Iniciar</a>
        </div>
    </div>
    </div>